.Hosting {
  display: flex;
  flex-direction: column;
  padding-inline: 86px;
  padding-top: 66px;
}

.heading {
  color: #000;
  font-size: 36px;
  font-weight: 700;
}

.sub-heading {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.create {
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #333;
  color: white;
  cursor: pointer;
}

.event {
  display: flex;
  width: 353px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.event-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.event-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.event-hours-ago {
  color: #8b949e;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}

.event-content {
  font-weight: 700;
}

.event-head-hosting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.event-title-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.event-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 6%;
  grid-row-gap: 6%;
}

.request-join {
  display: flex;
  width: 353px;
  padding: 16px;
  flex-direction: column;
  justify-content: "space-between";
  gap: 12px;
  border-radius: 0px 0px 10px 10px;
  background: #333;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 14px;
}

.accept-decline-bar {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.meeting-location {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.accept-button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 10px;
  background: #4ecb71;
  font-size: 12px;
}

.decline-button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 10px;
  background: #ed6565;
  font-size: 12px;
}

@media (max-width: 1336px) {
  .format {
    display: flex;
  }

  .event {
    width: 40%;
  }

  .request-join {
    width: 40%;
  }
}

@media (max-width: 1035px) {
  .format {
    display: flex;
  }

  .event-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 1%;
  }

  .event-head-hosting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .accept-decline-bar {
    display: flex;
    flex-direction: column;
  }

  .meeting-location {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media (max-width: 375px) {
  .Hosting {
    padding-inline: 56px;
  }
  .sub-heading {
    font-size: 16px;
  }

  .filter {
    width: auto;
  }

  .format {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .event-head-hosting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .event {
    width: auto;
  }

  .event-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  .bar {
    flex-direction: column;
    gap: 8px;
  }

  .event-title {
    font-size: 10px;
  }

  .event-title-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .accept-decline-bar {
    display: flex;
    flex-direction: column;
  }

  .meeting-location {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
