.Joining {
  display: flex;
  flex-direction: column;
  padding-inline: 86px;
  padding-top: 66px;
  padding-bottom: 126px;
  gap: 24px;
}

.heading {
  color: #000;
  font-size: 36px;
  font-weight: 700;
}

.sub-heading {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.event {
	display: flex;
	width: 353px;
	padding: 16px;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	flex-shrink: 0;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.event-head-joining {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.event-title {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.event-hours-ago {
  color: #8b949e;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
}

.event-title-hours {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.event-content {
  font-weight: 700;
}

.meeting-location {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.chat-button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #58a7fe;
  background: #58a7fe;
  color: white;
  cursor: pointer;
}

.cancel-button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;
  border: 1px solid #eb5757;
  background: #fff;
  color: #eb5757;
}

.format-joining {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 56px;
}

@media (max-width: 1336px) {
  .format-joining {
    display: flex;
  }

  .event {
    width: 40%;
  }
}

@media (max-width: 1035px) {
  .format-joining {
    display: flex;
  }

  .event-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 1%;
  }

  .event-head-joining {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .meeting-location {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@media (max-width: 430px) {
  .Joining {
    padding-inline: 56px;
  }
  .sub-heading {
    font-size: 16px;
  }

  .filter {
    width: auto;
  }

  .format-joining {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .event-head-joining {
    display: flex;
    flex-direction: column;
  }

  .event {
    width: auto;
  }

  .event-grid {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

  .bar {
    flex-direction: column;
    gap: 8px;
  }

  .event-title-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .meeting-location {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
