.OnboardingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 4%;
  padding-inline: 20%;
}

.OnboardingGridDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 10px;
  margin-top: 30px;
}

.OnboardingInput {
  border-radius: 5px;
  background-color: #edf1f6;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.OnboardingSubText {
  font-size: 16px;
  font-weight: 700;
  text-align: start;
}

.OnboardingTitleText {
  font-size: 30px;
  font-weight: 700;
  align-self: center;
}

.OnboardingYellowButton {
  align-self: center;
  padding: 15px 102px;
  border-radius: 10px;
  background-color: #ffd233;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  margin-top: 59px;
  text-wrap: nowrap;
}

.OnboardingYellowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  border-radius: 20px;
  border: 2px solid #ffd233;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.mobile-view {
  display: none;
}

.desktop-view {
  display: block;
}

@media (max-width: 955px) {
  .mobile-view {
    display: block;
  }

  .desktop-view {
    display: none;
  }

  .OnboardingGridDiv {
    display: grid;
    grid-template-columns: 1fr;
  }
}
